form > table tr.breadcrumb-parent:not(.selected) td,
form > table tr.breadcrumb-parent:nth-child(2n):not(.selected) td {
	background-color: #f5f5f4;
}
form > table tr.breadcrumb-child:not(.selected) td,
form > table tr.breadcrumb-child:nth-child(2n):not(.selected) td {
	background-color: transparent;
}
form > table tr.breadcrumb-child td:first-child {
	overflow: hidden;
}

form > table span.breadcrumb-spacer {
	border-left: 1px solid black;
	display: inline-block;
	height: 40px;
	margin: -40px 5px -40px -5px;
	vertical-align: middle;
	width: 15px;
}
form > table span.breadcrumb-spacer.endpoint {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	margin-bottom: 0;
}
form > table span.breadcrumb-spacer.midpoint:after {
	border-bottom: 1px solid black;
	content: '';
	display: inline-block;
	height: 20px;
	width: 15px;
}
form > table span.breadcrumb-spacer:last-of-type {
	
}
form > table .selected span.breadcrumb-spacer {
	border-color: hsla(0, 0%, 100%, 0.3);
}
form > table a.breadcrumb-toggle {
	display: inline-block;
	margin: -0.67em 0 -0.67em -1005px;
	padding-left: 1000px;
	text-decoration: none;
	width: 15px;
}