form > table tr.breadcrumb-parent:not(.selected) td,
form > table tr.breadcrumb-parent:nth-child(2n):not(.selected) td {
	background-color: #f5f5f4;
}
form > table tr.breadcrumb-child:not(.selected) td,
form > table tr.breadcrumb-child:nth-child(2n):not(.selected) td {
	background-color: transparent;
}
form > table tr td:first-child {
	overflow: hidden;
	padding-left: 29px;
}
form table tr.breadcrumb-child.alternating-depth:not(.selected) td,
form table tr.breadcrumb-child.alternating-depth:nth-child(2n):not(.selected) td {
	background: #fbfbfc;
}

form > table span.breadcrumb-spacer {
	border-left: 1px solid hsla(0, 0%, 0%, 0.2);
	display: inline-block;
	height: 40px;
	margin: -40px 10px -40px -10px;
	vertical-align: middle;
	width: 14px;
}
form > table span.breadcrumb-spacer.ignored {
	visibility: hidden;
}
form > table span.breadcrumb-spacer.terminated {
	border-color: hsla(0, 0%, 0%, 0.2);
	margin-bottom: 0;
}
form > table span.breadcrumb-spacer.continued {
	border-color: hsla(0, 0%, 0%, 0.2);
}
form > table span.breadcrumb-spacer.terminated:after,
form > table span.breadcrumb-spacer.continued:after {
	border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
	content: '';
	display: inline-block;
	height: 20px;
	width: 6px;
}
form > table span.breadcrumb-spacer.terminated:after {
	height: 39px;
}
form > table span.breadcrumb-spacer:last-of-type {
	
}
form > table .selected span.breadcrumb-spacer,
form > table .selected span.breadcrumb-spacer:after {
	border-color: hsla(0, 0%, 100%, 0.3);
}
form > table a.breadcrumb-toggle {
	display: inline-block;
	height: 40px;
	margin: -40px 1px -40px -1011px;
	padding-left: 1000px;
	text-decoration: none;
	width: 15px;
}